@import 'normalize';
@import 'mediaelementplayer';
@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant|Libre+Franklin|Marcellus+SC');

/*Styling*/

$bg : lightgrey;

body{
    background: $bg;
}

/*Lettering Styling*/

h1{
  color:red;
  font-family: 'Cormorant Infant', serif;
  font-size:4em;
}

p{
    font-family: 'Libre Franklin', sans-serif;
    
    
}

.font2{
    font-family: 'Marcellus SC', serif;
}


