/*Styling*/

$bg : lightgrey;

body{
    background: $bg;
}

/*Lettering Styling*/
.title{
  color:red;
  font-family: 'Marcellus SC', serif;
  font-size:4em;
}

p,
li{
    font-family: 'Libre Franklin', sans-serif;
     
}

.basicinfo{
    float:left;
}

.title{
    font-family: 'Marcellus SC', serif;
}

/*Layout*/

.page{
    display:inline-flex;
    flex-direction: column;
     background-image: url(https://fanart.tv/api/download.php?type=download&image=86334&section=3)
    
}

header, 
section, 
main, 
article,
aside,
footer{
    flex: 1;
}

/*Over Riding Styles*/
.mejs_time{
    color: hotpink;
    font-size: 3em;
}