/*Styling*/

$bg : lightgrey;

body{
    background: $bg;
}

/*Lettering Styling*/

h1{
  color:red;
  font-family: 'Cormorant Infant', serif;
  font-size:4em;
}

p{
    font-family: 'Libre Franklin', sans-serif;
    
    
}

.font2{
    font-family: 'Marcellus SC', serif;
}

/*Layout*/

.page{
    ;
    
}

header, 
section, 
main, 
article,
aside,
footer{
    flex:1;
}

/*Over Riding Styles*/
.mejs_time{
    color: hotpink;
    font-size: 3em;
}